<h4 class="text-center mb-4">Reparaciones</h4>
<div class="list-group mb-4">
    {% for reparacion in reparaciones %}
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ reparacion.descripcion }}</h5>
            <small class="text-muted">Fecha: {{ reparacion.fecha }}</small>
        </div>
    </a>
    {% empty %}
    <div class="alert alert-info" role="alert">
        No hay reparaciones disponibles.
    </div>
    {% endfor %}
</div>