<div class="container mt-4">
    <h4 class="text-center mb-4">Documentos para el Vehículo: {{ vehiculo.patente }}</h4>
    {% if documentos %}
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th class="text-center">Tipo de Documento</th>
                    <th class="text-center">Descarga</th>
                </tr>
            </thead>
            <tbody>
                {% for documento in documentos %}
                    {% if documento.presigned_urls.Mantencion_Preventiva %}
                        <tr>
                            <td>Mantención Preventiva</td>
                            <td class="text-center"><a href="{{ documento.presigned_urls.Mantencion_Preventiva }}" target="_blank" class="btn btn-primary">Descargar</a></td>
                        </tr>
                    {% endif %}
                    {% if documento.presigned_urls.Revision_Tecnica %}
                        <tr>
                            <td>Revisión Técnica</td>
                            <td class="text-center"><a href="{{ documento.presigned_urls.Revision_Tecnica }}" target="_blank" class="btn btn-primary">Descargar</a></td>
                        </tr>
                    {% endif %}
                    {% if documento.presigned_urls.Permiso_Circulacion %}
                        <tr>
                            <td>Permiso de Circulación</td>
                            <td class="text-center"><a href="{{ documento.presigned_urls.Permiso_Circulacion }}" target="_blank" class="btn btn-primary">Descargar</a></td>
                        </tr>
                    {% endif %}
                    {% if documento.presigned_urls.SOAP %}
                        <tr>
                            <td>SOAP</td>
                            <td class="text-center"><a href="{{ documento.presigned_urls.SOAP }}" target="_blank" class="btn btn-primary">Descargar</a></td>
                        </tr>
                    {% endif %}
                    {% if documento.presigned_urls.Padron %}
                        <tr>
                            <td>Padrón</td>
                            <td class="text-center"><a href="{{ documento.presigned_urls.Padron }}" target="_blank" class="btn btn-primary">Descargar</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-danger">No se encontraron documentos.</p>
    {% endif %}
</div>