<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Documentos del Vehículo</title>
</head>
<body>
    {% for documento in documentos %}
      <div class="documento">
        <h3>Documento: {{ documento }}</h3>
        {% if documento.presigned_urls.Mantencion_Preventiva %}
          <p>
            <a href="{{ documento.presigned_urls.Mantencion_Preventiva }}" target="_blank">
              Descargar Mantención Preventiva
            </a>
          </p>
        {% endif %}
        {% if documento.presigned_urls.Revision_Tecnica %}
          <p>
            <a href="{{ documento.presigned_urls.Revision_Tecnica }}" target="_blank">
              Descargar Revisión Técnica
            </a>
          </p>
        {% endif %}
        {% if documento.presigned_urls.Permiso_Circulacion %}
          <p>
            <a href="{{ documento.presigned_urls.Permiso_Circulacion }}" target="_blank">
              Descargar Permiso de Circulación
            </a>
          </p>
        {% endif %}
        {% if documento.presigned_urls.SOAP %}
          <p>
            <a href="{{ documento.presigned_urls.SOAP }}" target="_blank">
              Descargar SOAP
            </a>
          </p>
        {% endif %}
        {% if documento.presigned_urls.Padron %}
          <p>
            <a href="{{ documento.presigned_urls.Padron }}" target="_blank">
              Descargar Padrón
            </a>
          </p>
        {% endif %}
      </div>
    {% empty %}
      <p class="text-center">No se encontraron documentos.</p>
    {% endfor %}
</body>
</html>
