{% extends 'base.html' %}

{% block title %}Gestión de Taller{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4" style="color: #0b3356;">Gestión de Taller</h1>
        </div>
    </div>
    {% if request.user.role.name == "Administrador" %}
    <div class="row mt-5">
        <!-- Asignar Unidades Taller Card (ocupa todo el ancho) -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-sm">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Asignar Unidades Taller</h4>
                    <p class="card-text">Asigna unidades para una reparación.</p>
                    <a href="{% url 'crear_asignacion' %}" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Ver Unidades
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mt-5">
        <!-- Ver Asignaciones Card (mitad de la página) -->
        <div class="col-md-4 text-center mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Ver Asignaciones taller</h4>
                    <p class="card-text">Consulta el estado actual de las asignaciones.</p>
                    <a href="{% url 'listar_mantencion_reparacion' %}" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Ver Unidades
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Ver Asignaciones empresa</h4>
                    <p class="card-text">Consulta el estado actual de las asignaciones.</p>
                    <a href="{% url 'listar_asignaciones_empresa' %}" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Ver Unidades
                    </a>
                </div>
            </div>
        </div>

        <!-- Unidades Pendientes a Repuesto Card (mitad de la página) -->
        <div class="col-md-4 text-center mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Revisar Unidades Taller</h4>
                    <p class="card-text">Accede a las unidades que están pendientes de revisión o esperan repuestos.</p>
                    <a href="{% url 'unidad_aceptada_list' %}" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Ver Pendientes
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <!-- Unidades En Proceso Card -->
        <div class="col-md-4 text-center mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Unidades en Proceso</h4>
                    <p class="card-text">Consulta las unidades que están actualmente en proceso de reparación.</p>
                    <a href="{% url 'unidades_en_proceso' %}" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Ver En Proceso
                    </a>
                </div>
            </div>
        </div>

        <!-- Unidades Reparadas Card -->
        <div class="col-md-4 text-center mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Unidades Reparadas</h4>
                    <p class="card-text">Accede a las unidades que ya han sido reparadas y están listas para retirar.</p>
                    <a href="{% url 'unidades_reparadas' %}" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Ver Reparadas
                    </a>
                </div>
            </div>
        </div>

        <!-- Unidades Pendientes Card -->
        <div class="col-md-4 text-center mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Unidades Pendientes</h4>
                    <p class="card-text">Consulta las unidades que están pendientes de reparación o revisión.</p>
                    <a href="{% url 'unidades_pendientes' %}" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Ver Pendientes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
