{% extends 'base.html' %}

{% block content %}
    <h2>Asignaciones a Empresas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Vehículo</th>
                <th>Taller</th>
                <th>Empresa Asignada</th>
                <th>Tipo de Asignación</th>
                <th>Fecha de Asignación</th>
                <th>Fecha de Disponibilidad</th>
                <th>Descripción de Asignación</th>
                <th>Estado de Respuesta</th>
                <th>Motivo de Rechazo</th>
                <th>Fecha de Retiro</th>
            </tr>
        </thead>
        <tbody>
            {% for asignacion in asignaciones %}
                <tr>
                    <td>{{ asignacion.patente }}</td>
                    <td>{{ asignacion.taller }}</td>
                    <td>{{ asignacion.empresa_asignada.name }}</td>
                    <td>{{ asignacion.get_tipo_display }}</td>
                    <td>{{ asignacion.fecha_asignacion }}</td>
                    <td>{{ asignacion.fecha_disponible_asignacion }}</td>
                    <td>{{ asignacion.descripcion_asignacion }}</td>
                    <td>
                        {% if asignacion.respuestas.count > 0 %}
                            {% with respuesta=asignacion.respuestas.first %}
                                {{ respuesta.get_estado_display }}
                            {% endwith %}
                        {% else %}
                            Pendiente de respuesta
                        {% endif %}
                    </td>
                    <td>
                        {% if asignacion.respuestas.count > 0 %}
                            {% with respuesta=asignacion.respuestas.first %}
                                {% if respuesta.estado == 'Rechazada' %}
                                    {{ respuesta.comentario_rechazo }}
                                {% else %}
                                    -- 
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td>
                        {% if asignacion.respuestas.count > 0 %}
                            {% with respuesta=asignacion.respuestas.first %}
                                {% if respuesta.estado == 'Aceptada' %}
                                    {{ respuesta.fecha_retiro }}
                                {% else %}
                                    -- 
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
