{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h2>Listado de Asignaciones</h2>

{% if asignaciones %}
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Vehículo</th>
                <th>Taller</th>
                <th>Fecha Asignación</th>
                <th>Fecha Retiro</th>
                <th>Estado</th>
                <th>Fecha Respuesta</th>
                <th>Comentario Rechazo</th>
            </tr>
        </thead>
        <tbody>
            {% for asignacion in asignaciones %}
                <tr>
                    <td>{{ asignacion.patente }}</td>
                    <td>{{ asignacion.taller.name }}</td>
                    <td>{{ asignacion.fecha_asignacion }}</td>
                    <td>{{ asignacion.fecha_retiro }}</td>

                    {% with asignacion.respuestas.last as respuesta %}
                        {% if respuesta %}
                            {% if respuesta.estado == 'Aceptada' %}
                                <td style="color:green;">{{ respuesta.estado }}</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            {% elif respuesta.estado == 'Rechazada' %}
                                <td style="color:red;">{{ respuesta.estado }}</td>
                                <td>{{ respuesta.fecha_respuesta }}</td>
                                <td>{{ respuesta.comentario_rechazo }}</td>
                            {% else %}
                                <td>{{ respuesta.estado }}</td>
                                <td>{{ respuesta.fecha_respuesta }}</td>
                                <td>{{ respuesta.comentario_rechazo }}</td>
                            {% endif %}
                        {% else %}
                            <td>Pendiente</td>
                            <td>N/A</td>
                            <td>-</td>
                        {% endif %}
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay asignaciones disponibles para tu taller.</p>
{% endif %}
{% endblock %}
