{% extends 'empresa/baseempresa.html' %}

{% block title %}Cargar Documentos para {{ vehiculo.patente }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 font-weight-bold text-center" style="color: #0b3356;">Cargar Documentos para Vehículo {{ vehiculo.patente }}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="Mantencion_Preventiva" class="form-label">Mantención Preventiva</label>
                {{ form.Mantencion_Preventiva }}
            </div>
            <div class="col-md-6">
                <label for="fecha_vencimiento_mantencion" class="form-label">Fecha Vencimiento Mantención</label>
                {{ form.fecha_vencimiento_mantencion }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="Revision_Tecnica" class="form-label">Revisión Técnica</label>
                {{ form.Revision_Tecnica }}
            </div>
            <div class="col-md-6">
                <label for="fecha_vencimiento_revision" class="form-label">Fecha Vencimiento Revisión</label>
                {{ form.fecha_vencimiento_revision }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="Permiso_Circulacion" class="form-label">Permiso de Circulación</label>
                {{ form.Permiso_Circulacion }}
            </div>
            <div class="col-md-6">
                <label for="fecha_vencimiento_permiso" class="form-label">Fecha Vencimiento Permiso</label>
                {{ form.fecha_vencimiento_permiso }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="SOAP" class="form-label">SOAP</label>
                {{ form.SOAP }}
            </div>
            <div class="col-md-6">
                <label for="fecha_vencimiento_soap" class="form-label">Fecha Vencimiento SOAP</label>
                {{ form.fecha_vencimiento_soap }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="Padron" class="form-label">Padrón</label>
                {{ form.Padron }}
            </div>
            <div class="col-md-6">
                <label for="fecha_vencimiento_padron" class="form-label">Fecha Vencimiento Padrón</label>
                {{ form.fecha_vencimiento_padron }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label for="descripcion" class="form-label">Descripción</label>
                {{ form.descripcion }}
            </div>
        </div>

        <button type="submit" class="btn btn-outline-custom">Guardar Documentos</button>
    </form>
</div>
{% endblock %}
