{% extends 'empresa/baseempresa.html' %}

{% block title %}Cerrar Hallazgo{% endblock %}

{% block content %}
    <h1>Cerrar Hallazgo</h1>

    <p><strong>Hallazgo:</strong> {{ hallazgo.hallazgo }}</p>
    <p><strong>Tipo:</strong> {{ hallazgo.tipo_hallazgo }}</p>
    <p><strong>Fecha de Inspección:</strong> {{ hallazgo.fecha_inspeccion }}</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cerrar Hallazgo</button>
    </form>
{% endblock %}
