{% extends 'empresa/baseempresa.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Hallazgos de {{ grupo.name }}</h1>

    {% if hallazgos %}
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Hallazgo</th>
                <th>Fecha Inspección</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for hallazgo in hallazgos %}
            <tr>
                <td>{{ hallazgo.hallazgo }}</td>
                <td>{{ hallazgo.fecha_inspeccion }}</td>
                <td>{{ hallazgo.tipo_hallazgo }}</td>
                <td>
                    {% if hallazgo.estado_cierre == 'Abierto' %}
                    <span class="badge bg-success">Abierto</span>
                    {% else %}
                    <span class="badge bg-danger">Cerrado</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'detalle_hallazgo' hallazgo.pk %}" class="btn btn-outline-custom btn-sm">Ver</a>
                    {% if hallazgo.estado_cierre == 'Abierto' %}
                    <a href="{% url 'cerrar_hallazgo' hallazgo.pk %}" class="btn btn-outline-custom btn-sm">Cerrar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination d-flex justify-content-center">
        <span class="step-links">
            {% if hallazgos.has_previous %}
                <a href="?page=1" class="btn btn-outline-secondary btn-sm">&laquo; Primera</a>
                <a href="?page={{ hallazgos.previous_page_number }}" class="btn btn-outline-secondary btn-sm">Anterior</a>
            {% endif %}

            <span class="current mx-2">
                Página {{ hallazgos.number }} de {{ hallazgos.paginator.num_pages }}
            </span>

            {% if hallazgos.has_next %}
                <a href="?page={{ hallazgos.next_page_number }}" class="btn btn-outline-secondary btn-sm">Siguiente</a>
                <a href="?page={{ hallazgos.paginator.num_pages }}" class="btn btn-outline-secondary btn-sm">Última &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% else %}
    <p class="text-center">No hay hallazgos asociados a tu empresa.</p>
    {% endif %}
</div>
{% endblock %}
