{% extends 'empresa/baseempresa.html' %}

{% block title %}Lista de Hallazgos{% endblock %}

{% block content %}
    <h1>Lista de Hallazgos</h1>
    
    {% if hallazgos %}
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Tipo de Hallazgo</th>
                    <th>Fecha de Inspección</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for hallazgo in hallazgos %}
                    <tr>
                        <td>{{ hallazgo.id }}</td>
                        <td>{{ hallazgo.hallazgo }}</td>
                        <td>{{ hallazgo.tipo_hallazgo }}</td>
                        <td>{{ hallazgo.fecha_inspeccion }}</td>
                        <td>{{ hallazgo.estado }}</td>
                        <td>
                            <a href="{% url 'detalle_hallazgo' hallazgo.id %}" class="btn btn-info btn-sm">Ver detalles</a>
                            {% if hallazgo.estado == 'Pendiente' %}
                                <a href="{% url 'cerrar_hallazgo' hallazgo.id %}" class="btn btn-danger btn-sm">Cerrar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">No se han encontrado hallazgos para tu grupo.</p>
    {% endif %}
{% endblock %}
