{% extends 'base.html' %}

{% block title %}Gestión de GPS{% endblock %}

{% block content %}
<style>
            h4{
            font-family: sans-serif;
        }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4" style="color: #0b3356;">Gestión de GPS</h1>
        </div>
    </div>

    <div class="row mt-5">
        <!-- Ubicación de Unidades Card (mitad de la página) -->
        <div class="col-md-6 text-center mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Estado del GPS</h4>
                    <p class="card-text">Visualiza el estado del GPS de cada unidad (activo, inactivo, Pendiente).</p>
                    <a href="#" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Ver Estado GPS
                    </a>
                </div>
            </div>
        </div>

        <!-- Odómetro y Datos Relevantes Card (mitad de la página) -->
        <div class="col-md-6 text-center mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column justify-content-between text-center">
                    <h4 class="card-title">Acceso a API GPS</h4>
                    <p class="card-text">                    <p class="card-text">Accede a los datos de las unidades mediante la API integrada con los dispositivos GPS.</p>                </p>
                    <a href="{% url 'get_vehiculos_con_seguimiento' %}" class="btn btn-outline-custom mt-auto" style="height: 50px; display: flex; justify-content: center; align-items: center;">
                        Acceder a la API
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
