* {
    padding: 0;
    margin: 0;
}


form {
    padding-top: 5px;
}


.container {
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 50px;
}


body {
    background: #ffffff;  /* fallback for old browsers */

}


.container {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 350px;
}


.form-group {
    max-height: 300px;

}

.text-center {
    padding-top: 30px;
    padding-bottom: 40px;
}

button {
    text-align: center;
    justify-content: center;
}



h1 {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

