{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <!-- Información principal del hallazgo -->
    <div class="card mb-4">
        <div class="card-header div-outline-custom btn-lg text-center">
            <h5 class="mb-0">Detalles del Hallazgo</h5>
        </div>
        <div class="card-body">
            <p><strong>Patente:</strong> {{ hallazgo.vehiculo.patente }}</p>
            <p><strong>Fecha de Inspección:</strong> {{ hallazgo.fecha_inspeccion }}</p>
            <p><strong>Tipo de Hallazgo:</strong> {{ hallazgo.tipo_hallazgo }}</p>
            <p><strong>Estado:</strong> {{ hallazgo.estado }}</p>
            {% if url_temporal %}
            <h3>Evidencia</h3>
            <!-- Si es una imagen -->
            <img src="{{ url_temporal }}" alt="Evidencia" style="max-width: 100%;">
            
            <!-- O, si deseas que se abra en una nueva pestaña -->
            <a href="{{ url_temporal }}" target="_blank">Ver Evidencia</a>
            {% else %}
            <p>No hay evidencia disponible.</p>
            {% endif %}
        </div>
    </div>

    <!-- Formulario para cerrar o reabrir el hallazgo -->
    <div class="card mb-4">
        <div class="card-body text-center">
            {% if hallazgo.estado == 'Pendiente' %}
                <form method="post" action="{% url 'hallazgo_close' hallazgo.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="card-header btn btn-outline-custom btn-lg" style="width: 100%; height: 50px; display: flex; justify-content: center; align-items: center;">
                        Cerrar Hallazgo
                    </button>
                </form>
            {% elif hallazgo.estado == 'Cerrado' %}
                <form method="post" action="{% url 'hallazgo_reabrir' hallazgo.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="card-header btn btn-outline-custom btn-lg" style="width: 100%; height: 50px; display: flex; justify-content: center; align-items: center;">
                        Reabrir Hallazgo
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

    <!-- Información del Cierre -->
    {% if hallazgo.estado == 'Cerrado' %}
    <div class="card mb-4">
        <div class="card-header div-outline-custom btn-lg text-center">
            <h5 class="mb-0">Información del Cierre</h5>
        </div>
        <div class="card-body">
            <p><strong>Responsable del Cierre:</strong> {{ cierre.responsable_cierre }}</p>
            <p><strong>Descripción del cierre:</strong> {{ cierre.descripcion_cierre }}</p>

            {% if cierre.evidencia_cierre %}
            <p><strong>Evidencia:</strong> <a href="{{ cierre.evidencia_cierre.url }}" target="_blank">Ver archivo</a></p>
            {% endif %}

            {% if cierre.documento_cierre %}
            <p><strong>Documento de cierre:</strong> <a href="{{ cierre.documento_cierre.url }}" target="_blank">Ver documento</a></p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Sección de comunicaciones -->
    <div class="card">
        <div class="card-header div-outline-custom btn-lg text-center">
            <h5 class="mb-0">Comunicaciones</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for comunicacion in hallazgo.comunicacionhallazgo_set.all %}
                <li class="list-group-item">
                    <strong>{{ comunicacion.usuario.username }}</strong>
                    <small class="text-muted">({{ comunicacion.fecha_envio }})</small>:
                    <p>{{ comunicacion.mensaje }}</p>

                    {% if comunicacion.evidencia_adicional %}
                    <p><a href="{{ comunicacion.evidencia_adicional.url }}" target="_blank">Ver Evidencia Adicional</a></p>
                    {% endif %}
                </li>
                {% empty %}
                <li class="list-group-item">No hay comunicaciones para este hallazgo.</li>
                {% endfor %}
            </ul>

            <a href="{% url 'add_comunicacion' hallazgo.pk %}" class="card-header btn btn-outline-custom btn-lg" style="width: 100%; height: 50px; display: flex; justify-content: center; align-items: center;">
                Agregar Comunicación
            </a>
        </div>
    </div>
</div>
{% endblock %}
