{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">
        {% if hallazgo %}
        Editar Hallazgo
        {% else %}
        Crear Hallazgo
        {% endif %}
    </h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-outline-custom btn-lg mt-3" style="width: 100%; height: 50px; display: flex; justify-content: center; align-items: center;">
            {% if hallazgo %}
            Guardar Cambios
            {% else %}
            Crear Hallazgo
            {% endif %}
        </button>
    </form>

    <a href="{% url 'hallazgo_list' %}" class="btn btn-outline-custom btn-lg mt-3" style="width: 100%; height: 50px; display: flex; justify-content: center; align-items: center;">
        Volver a la lista
    </a>
</div>
{% endblock %}
