{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Hallazgos</h1>
    
    <a href="{% url 'hallazgo_create' %}" class="btn btn-outline-custom btn-lg mb-3" style="height: 50px; display: flex; justify-content: center; align-items: center;">
        Crear Hallazgo
    </a>

    <!-- Tabla con los hallazgos usando Bootstrap -->
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Hallazgo</th>
                <th>Vehículo</th>
                <th>Posición</th>
                <th>Nivel de Riesgo</th>
                <th>Fecha Inspección</th>
                <th>Responsable</th>
                <th>Estado de Cierre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for hallazgo in hallazgos %}
            <tr>
                <td>{{ hallazgo.hallazgo }}</td>
                <td>{{ hallazgo.vehiculo }}</td>
                <td>{{ hallazgo.posicion_neumatico }}</td>
                <td>
                    {% if hallazgo.nivel_riesgo == 'Alto' %}
                    <span class="badge bg-danger">{{ hallazgo.nivel_riesgo }}</span>
                    {% elif hallazgo.nivel_riesgo == 'Medio' %}
                    <span class="badge bg-warning">{{ hallazgo.nivel_riesgo }}</span>
                    {% else %}
                    <span class="badge bg-info">{{ hallazgo.nivel_riesgo }}</span>
                    {% endif %}
                </td>
                <td>{{ hallazgo.fecha_inspeccion }}</td>
                <td>{{ hallazgo.responsable }}</td>
                <td>
                    {% if hallazgo.estado_cierre == 'Abierto' %}
                    <span class="badge bg-success">Abierto</span>
                    {% else %}
                    <span class="badge bg-danger">Cerrado</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'hallazgo_detail' hallazgo.pk %}" class="btn btn-outline-custom btn-sm">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
