<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

    <title>{% block title %}Page Title{% endblock %}</title>
    <style>
        .floating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;  /* Ajusta según el tamaño del botón */
    height: 50px; 
    background-color: #007bff; /* Color del botón */
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
}

.icon-image {
    width: 24px;  /* Ajusta el tamaño de la imagen */
    height: 24px;
}

        .floating-button:hover {
            background-color: #0a2a45;
        }
        nav{
            font-family: sans-serif;
        }
        div{
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0b3356;">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand col-2 d-flex align-items-center justify-content-center" href="home">
                <img src="{% static 'img/OCA.png' %}" alt="logo.png" style="max-width: 100%; height: auto;">
            </a>
    
            <!-- Menú -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'homeGPS' %}">GPS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'homeNeumatico' %}">Neumáticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'homeTaller' %}">Taller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'homeDocumentacion' %}">Documentación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'visual' %}">Visualización</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://odisdkp.com/" target="_blank" rel="noopener noreferrer">Plataforma ODIS</a>
                    </li>
                </ul>
    
                <!-- Dropdown de usuario a la derecha -->
                <ul class="navbar-nav ms-auto mb- mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Si el usuario está autenticado -->
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item">{{ request.user }}</a></li> <!-- Mostrar el nombre del usuario -->
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li> <!-- Opción de cerrar sesión -->
                            {% endif %}
                        </ul>
                    </li>
                    <!-- Enlace de registro fuera del dropdown, al lado -->
                    {% if request.user.role.name == "Administrador" %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'register' %}">Registrar usuario</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <a href="{% url 'admin_chat' %}" class="floating-button">
        <img src="{% static 'img/Chat.png' %}" alt="Chat" class="icon-image">
    </a>
    

    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>